/*----Education----------------------------------------------------------------------*/
.education {
  display : flex;
  flex-direction: column;

}

.education-section-title {
  margin-right: auto;
  margin-left: 3vw;
  color: black;
  text-shadow: 4px 0px 0px white, -4px 0px 0px white, 0px 4px 0px white,
    0px -4px 0px white;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 700px;
  transition : all 0.20s linear;
  padding : 4px 20px;
  margin-bottom : 20px;
  margin-top: 40px;
}
.score-section-title{
  margin-right: auto;
  margin-left: 3vw;
  color: black;
  text-shadow: 4px 0px 0px white, -4px 0px 0px white, 0px 4px 0px white,
    0px -4px 0px white;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 700px;
  transition : all 0.20s linear;
  padding : 4px 20px;
  margin-bottom: -5px;
  margin-top: 40px;
}
.score-section-description{
  margin-right: auto;
  margin-left: 3vw;
  color: black;
  text-shadow: 4px 0px 0px white, -4px 0px 0px white, 0px 4px 0px white,
    0px -4px 0px white;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 300px;
  transition : all 0.20s linear;
  padding : 4px 20px;
  margin-bottom : 20px;
  margin-top: 0px;
}
.score-list {
  display: block;
  margin-right: auto;
  margin-left: 3vw;
}

.score-element {
  display: block;
  position: relative;
  color: black;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 300px;
}

.score-element:not(:last-child) {
  margin-bottom: 16px;
}

.score-element:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -30px;
  margin-top: -.9em;
  background: linear-gradient(45deg, hsl(220deg 100% 55%), #f9dd94);
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.education-section-title:hover, .score-section-title:hover {
  color :rgb(109, 157, 255);
  box-shadow: 4px 0px 0px hsl(220deg 100% 55%),
  -4px 0px 0px  hsl(220deg 100% 55%);
  cursor : default;
}

.education-section {
    background-color: white;
    /* min-height : 500px; */
    background-image: repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1) 1px,
      transparent 1px,
      transparent 6px
    );
    background-size: 8px 8px;
    height: 20vw;
    display: flex;
    padding: 5vw;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -2px 0px black, 0px 2px 0px black;
  }
  
  .college,
  .school-10,
  .school-12{
    width: 26vw;
    height: 15vw;
    /* background : #294467; */
    border-radius : 5px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    /* flex-wrap : wrap; */
    overflow-y :hidden;
    overflow-x :hidden;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-in-out;
  }
  .college:hover,
  .school-10:hover,
  .school-12:hover{
    cursor : pointer;
  }
  .name {
    font-family : 'Poppins';
    font-size : 1.5vw;
    text-align: center;
    margin : 6px 0px;
  }
  
  .location,.degree,.duration,.cgpa {
    font-family : 'Poppins';
    font-weight: 100;
    font-size : 1vw;
    text-align: center;
    margin : 4px 0px;
  
  }
  .back b{
    letter-spacing: 1px;
  }
  .invisibleLink {
    all : unset;
  }
  
  .card {
    width: 26vw;
    height: 15vw;
    margin: 10px;
  /*   float: left; */
    perspective: 500px;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front,
  .back {
    position: absolute;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  .front {
    background-color: #FFC700;
    width: 26vw;
    height: 15vw;
    font-family: unbounded;
    font-size: 3vw;
  }
  .front-text{
    margin-top : 20%;
    
  }
  
  .back {
    background: linear-gradient(45deg, hsl(220deg 100% 55%), #f9dd94);;
    /* background: #03446A; */
    color: white;
    text-shadow: 1px 0px black;
    transform: rotateY( 180deg );
  }

  @media only screen and (max-width: 850px) {
    .education-section {
      flex-direction: column;
      height: 80vh;
      padding : 10px;
    }
    .college,
  .school-10,
  .school-12{
    width : 35vw;
    height : 25vh;
  }

  .card {
    width : 35vw;
    height : 25vh;
  }

  .front-img{
    width : 35vw;
    height : 25vh;
  }
  .name {
    font-family : 'Poppins';
    font-size : 2.8vh;
    text-align: center;
    margin : 6px 0px;
  }
  
  .location,.degree,.duration,.cgpa {
    font-size : 2vh;
  }

  }

  @media only screen and (max-width: 600px) {
    .education-section-title {
      font-size : 25px;
      color :rgb(109, 157, 255);
      box-shadow: 4px 0px 0px hsl(220deg 100% 55%),
      -4px 0px 0px  hsl(220deg 100% 55%);
      margin-right: auto;
      margin-left: auto;
    }
    .score-section {
      padding : 0px 10px;
    }
    .score-section-title {
      font-size : 25px;
      color :rgb(109, 157, 255);
      box-shadow: 4px 0px 0px hsl(220deg 100% 55%),
      -4px 0px 0px  hsl(220deg 100% 55%);
      margin-bottom: 10px;
      margin-right: auto;
      margin-left: auto;
    }
    .score-section-description {
      margin-left: 1vw;
      margin-right: 0px;
      margin-bottom: 0px;
      font-size: 2.5vh;
    }
    .score-element {
      font-size: 2.2vh;
    }
    .score-element:before {
      height: 12px;
      width: 12px;
      margin-top: -.9em;
    }
    .front{
      display : none;
    }
    .back{
      transform: none;
    }
    .card:hover .content {
      transform : none;
      transition: none;
    }
    .education-section {
      height: 80vh;
      padding : 10px;
    }
    .college,
  .school-10,
  .school-12{
    width : 80vw;
    height : 25vh;
  }

  .card {
    width : 80vw;
    height : 25vh;
  }

  .front-img{
    width : 80vw;
    height : 25vh;
  }
  }
