/*----Education----------------------------------------------------------------------*/
.education {
  display : flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.education-section-title {
  margin-right: auto;
  margin-left: auto;
  color: color-mix(in srgb, rgba(255, 255, 0, 1) 50%, rgba(0, 255, 255, 1) 50%);
  font-family: unbounded;
  font-size: 30px;
  font-weight: 700px;
  transition : all 0.20s linear;
  padding : 4px 20px;
  margin-bottom : 20px;
  margin-top: 40px;

  box-shadow: 4px 0px 0px color-mix(in srgb, rgba(255, 25, 255, 1) 50%, rgba(0, 255, 255, 1) 50%),
  -4px 0px 0px  color-mix(in srgb, rgba(255, 25, 255, 1) 50%, rgba(0, 255, 255, 1) 50%);
}

.blob1 {
  width: 30vw;
  height : 30vw;
  border-radius : 400px;
  position: absolute;
  top : 130px;
  left : -400px;

  margin-top: 0px;
  margin-left: 200px;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 25, 255,1),
    rgb(0,255,255,1) 1.5px,
    transparent 1px,
    transparent 6px
  );
  background-size: 8px 8px;
  border: 2px white solid;
}

.blob2 {
  width: 30vw;
  height : 30vw;
  position: absolute;
  top : 700px;
  right : -400px;
  z-index: -1;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 0, 1),
    rgba(0, 255, 255, 1) 1.5px,
    transparent 1px,
    transparent 6px
  );
  transform: rotate(45deg);
  background-size: 8px 8px;
  border: 2px white solid;
}
.score-section-title{
  margin-right: auto;
  margin-left: auto;
  /* margin-left: 3vw; */
  color: color-mix(in srgb, rgba(255, 255, 0, 1) 50%, rgba(0, 255, 255, 1) 50%);
  font-family: unbounded;
  font-size: 30px;
  font-weight: 700px;
  transition : all 0.20s linear;
  padding : 4px 20px;
  margin-bottom: -5px;
  margin-top: 40px;

  box-shadow: 4px 0px 0px color-mix(in srgb, rgba(255, 25, 255, 1) 50%, rgba(0, 255, 255, 1) 50%),
  -4px 0px 0px  color-mix(in srgb, rgba(255, 25, 255, 1) 50%, rgba(0, 255, 255, 1) 50%);
}
.score-section-description{
  margin-right: auto;
  margin-left: 3vw;
  color: white;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 400;
  padding : 4px 20px;
  margin-bottom : 20px;
  margin-top: 0px;
}
.score-list {
  display: block;
  margin-right: auto;
  margin-left: 3vw;
}

.score-element {
  display: block;
  position: relative;
  color: white;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 300px;
}

.score-element:not(:last-child) {
  margin-bottom: 16px;
}

.score-element:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -30px;
  margin-top: -.9em;
  background: linear-gradient(45deg, hsl(220deg 100% 55%), #f9dd94);
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.education-section {
    /* min-height : 500px; */
    height: 20vw;
    display: flex;
    padding: 5vw;
    justify-content: space-between;
    align-items: center;
  }
  
  .college,
  .school-10,
  .school-12{
    width: 26vw;
    height: 15vw;
    /* background : #294467; */
    border-radius : 5px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    /* flex-wrap : wrap; */
    overflow-y :hidden;
    overflow-x :hidden;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-in-out;
  }
  .college:hover,
  .school-10:hover,
  .school-12:hover{
    cursor : pointer;
  }
  .name {
    font-family : 'Poppins';
    font-size : 1.5vw;
    text-align: center;
    margin : 6px 0px;
  }
  
  .location,.degree,.duration,.cgpa {
    font-family : "neue_haas_grotesk_display65Md";
    font-weight: 500;
    font-size : 1.2vw;
    text-align: center;
    margin : 4px 0px;
  
  }
  .back b{
    letter-spacing: 1px;
  }
  .invisibleLink {
    all : unset;
  }
  
  .card {
    width: 26vw;
    height: 15vw;
    margin: 10px;
    border-radius: 5px;
    border : 1px solid red;
    animation: fadeIn 0.8s ease-in both;
  }
  @keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
  .back {
    position: absolute;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;
    background: linear-gradient(45deg, hsl(220deg 100% 55%), #f9dd94);
    color: black;
  }

  .separator{
    height : 2px;
    width : 90vw;
    background-image: linear-gradient(45deg, hsl(220deg 100% 55%), #f9dd94);
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 850px) {
    .education-section {
      flex-direction: column;
      height: 80vh;
      padding : 10px;
    }
    .college,
  .school-10,
  .school-12{
    width : 35vw;
    height : 25vh;
  }

  .card {
    width : 35vw;
    height : 25vh;
  }

  .name {
    font-family : 'Poppins';
    font-size : 2.8vh;
    text-align: center;
    margin : 6px 0px;
  }
  
  .location,.degree,.duration,.cgpa {
    font-size : 2vh;
  }

  }

  @media only screen and (max-width: 600px) {
    .education-section-title {
      font-size : 25px;
      margin-right: auto;
      margin-left: auto;
    }
    .score-section {
      padding : 0px 10px;
    }
    .score-section-title {
      font-size : 25px;
      margin-bottom: 10px;
      margin-right: auto;
      margin-left: auto;
    }
    .score-section-description {
      margin-left: 1vw;
      margin-right: 0px;
      margin-bottom: 0px;
      font-size: 2.5vh;
    }
    .score-element {
      font-size: 2.2vh;
    }
    .score-element:before {
      height: 12px;
      width: 12px;
      margin-top: -.9em;
    }

    .back{
      transform: none;
    }
    .card:hover .contentCard {
      transform : none;
      transition: none;
    }
    .education-section {
      height: 80vh;
      padding : 10px;
    }
    .college,
  .school-10,
  .school-12{
    width : 80vw;
    height : 25vh;
  }

  .card {
    width : 80vw;
    height : 25vh;
  }
  .blob1{
    width : 80vw;
    height : 80vw;
    top : 120px;
    left : -350px;
  }
  .blob2{
    width : 40vw;
    height : 40vw;
    top : 800px;
    right : -90px;
  }

  }