.skills {
    display: flex;
    flex-direction: column;
}

.skills-section-title {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    color: color-mix(in srgb, rgba(255, 255, 0, 1) 50%, rgba(0, 255, 255, 1) 50%);
    font-family: unbounded;
    font-size: 30px;
    font-weight: 700px;
    transition: all 0.20s linear;
    padding: 4px 20px;
    box-shadow: 4px 0px 0px color-mix(in srgb, rgba(255, 25, 255, 1) 50%, rgba(0, 255, 255, 1) 50%),
    -4px 0px 0px  color-mix(in srgb, rgba(255, 25, 255, 1) 50%, rgba(0, 255, 255, 1) 50%);
}

.skills-section {
    height: 100vh;
    margin: 0vw 5vw 0vw 5vw;
}

.language, .frontend, .backend, .database {
    display : flex;
    width : 90vw;
    justify-content: flex-start;
    background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 25, 255,1),
    rgb(0,255,255,1) 1px,
    transparent 1px,
    transparent 10px
  );
    margin : 0px 0px 30px 0px;
    animation: fadeIn 0.5s ease-in both;
}
.language{
    animation-delay: 0s;
}
.frontend{
    animation-delay: 0.5s;
}
.backend{
    animation-delay: 1s;
}
.database{
    animation-delay: 1.5s;
}
.language-title, .frontend-title, .backend-title, .database-title {
    color : color-mix(in srgb, rgba(255, 255, 0, 1) 50%, rgba(0, 255, 255, 1) 50%);
    text-shadow: 2px 2px 2px black;
    font-family: unbounded;
    font-size: 2vw;
    font-weight: 700;
    width : 40%;
    height : 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.skillrow{
    width : 60%;
    display: flex;
    margin-left : auto;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-learned {
    background-color: black;
    border : 1px solid white;
    width: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.skills-learned:hover {
    background : rgb(22, 22, 22);
    cursor: pointer;
}

.skills-learned-logo {
    width: 50px;
    margin: 0px 5px;
    transition: all 0.25s linear;
}

.skills-learned-comp {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    padding: 0px 5px;
    color: white;
    transition: all 0.25s linear;
}

.database {
    margin-bottom: 40px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -2%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@media only screen and (max-width: 850px)
{
    .language, .frontend, .backend, .database {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .language-title, .frontend-title, .backend-title, .database-title {
        font-size: 5vh;
        width : 100%;
        margin: 10px 0px 0px 0px;
    }
    .skillrow {
        width : 100%;
        margin-bottom: 20px;
    }
}
