.App {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(109, 157, 255);
  border-radius : 5px;
}


/*----Main----------------------------------------------------------------------*/

.mainIntro {
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.main {
  max-width: 90vw;
  margin: 10vw auto 10vw auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skillSubpart {
  margin : 10px 0px 40px 0px;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5vw;
  animation: fadeIn1 1s ease-in both;
}

.main-text-iam {
  font-family: "nephilm";
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin-right: 18vw;
  padding : 0px 10px;
  background: linear-gradient(to right, red, orange 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.main-text-iam:hover{
  background-position: 0 100%;
}

.main-text-name {
  font-family: "nephilm";
  text-align: center;
  font-weight: 700;
  padding : 10px;
  font-size: 40px;
  color: white;
  margin: 1vw 1vw;
  background: linear-gradient(to right, red, orange 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.main-text-name:hover {
  background-position: 0 100%;
}

.main-text-desc {
  font-family: "neue_haas_grotesk_display65Md";
  text-align: center;
  font-size: 30px;
  background: -webkit-linear-gradient(45deg, hsl(220deg 100% 55%), #f9dd94);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1vw 3vw;
}

.resume {
  margin-top: 40px;
  height : fit-content;
  width : 200px;
  padding : 10px 20px;
  border: 2px solid color-mix(in srgb, rgba(255, 255, 0, 1) 50%, rgba(0, 255, 255, 1) 50%);
  border-radius: 50px;
  text-align: center;
  font-family: unbounded;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 2px black;
  background : black;
  background-size : 300% 300%;
  filter: grayscale(20%);
  transition: all 0.3s ease-in;
}
/* rgb(229, 93, 135), rgb(95, 195, 228) */
.resume:hover {
  cursor : pointer;
  box-shadow: -6px -6px 0px orange, 6px 6px 0px red;
}
.main-profile{
  animation: fadeIn2 1s ease-in both;
  position : relative;
}
/* .profile-border{
  width : 25vw;
  height : 25vw;
  margin-top: 20px;
  margin-right: 50px;
  position: relative;
  border-radius: 400px;
  padding :  10px;
  background-image: linear-gradient(45deg, hsl(220, 100%, 50%),rgb(255, 183, 0), rgb(145, 255, 0));
  background-size : 150% 150%;
  animation: changeBg 4s linear infinite;
} */
.profile-border{
  width : 25vw;
  height : 25vw;
  position: relative;
  border-radius: 400px;
  padding :  10px;
  background-image: linear-gradient(45deg, hsl(220, 100%, 50%),rgb(255, 183, 0), rgb(145, 255, 0));
  background-size : 150% 150%;
  animation: changeBg 4s linear infinite;
}
.profile {
  width : 25vw;
  border-radius: 300px;
  position: relative;
  object-fit: cover;
  object-position: 40% 20%;
  filter: grayscale(100%);

}
/* .profile-back {
  width: 20vw;
  height : 20vw;
  border-radius : 400px;
  position: absolute;
  margin-top: 0px;
  margin-left: 200px;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 25, 255,1),
    rgb(0,255,255,1) 1.5px,
    transparent 1px,
    transparent 6px
  );
  background-size: 8px 8px;
  border: 2px black solid;
} */
.profile-back {
  width: 20vw;
  height : 20vw;
  border-radius : 400px;
  position: absolute;
  left : 150px;
  top : -50px;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 25, 255,1),
    rgb(0,255,255,1) 1.5px,
    transparent 1px,
    transparent 6px
  );
  background-size: 8px 8px;
  border: 2px black solid;
}
/* .profile-back-2 {
  width: 20vw;
  height : 20vw;
  position: absolute;
  margin-top: 200px;
  margin-left: -20px;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 0, 1),
    rgba(0, 255, 255, 1) 1.5px,
    transparent 1px,
    transparent 6px
  );
  background-size: 8px 8px;
  border: 2px black solid;
} */
.profile-back-2 {
  width: 20vw;
  height : 20vw;
  position: absolute;
  right : 150px;
  bottom : -50px;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 0, 1),
    rgba(0, 255, 255, 1) 1.5px,
    transparent 1px,
    transparent 6px
  );
  background-size: 8px 8px;
  border: 2px black solid;
}
/* .profile {
  width: 25vw;
  height: 65vh;
  box-shadow: 3px 3px 0px rgb(109, 157, 255), -3px -3px 0px hsl(220deg 100% 55%);
  position: relative;
  object-fit: cover;
  object-position: 40% 20%;
}
.profile-back {
  width: 25vw;
  height: 65vh;
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1) 1px,
    transparent 2px,
    transparent 10px
  );
  background-size: 8px 8px;
  border: 2px black solid;
} */
@keyframes fadeIn1 {
	from {
		opacity: 0;
		transform: translate3d(-20%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeIn2 {
	from {
		opacity: 0;
		transform: translate3d(20%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@media only screen and (max-width: 850px)
{
    .profile{
      width : 250px;
    }
    .profile-border{
      width : 250px;
      height : 250px;
    }

    .profile-back{
      width : 15vh;
      height : 15vh;
    }

    .profile-back-2{
      width : 13vh;
      height : 13vh;
      right : 150px;
      bottom : -20px;
    }
    .main-text{
      justify-content: center;
    }
    .main-text-iam{
        font-size: 30px;
        margin-right: 0px;
    }

    .main-text-name{
      font-size: 40px;
    }
    .main-text-desc{
        font-size: 25px;
        color : hsl(220, 95%, 62%);
    }
    .resume{
      margin-top: 30px;
      width : fit-content;
      padding : 6px 10px;
      font-size: 15px;
    }
}
@media only screen and (max-width: 600px) 
{
    .main{
      height : 100vh;
      flex-direction: column-reverse;
      justify-content: center;
    }
    .profile{
      width : 210px;
    }
    .profile-border{
      width : 210px;
      height : 210px;
      margin-right: auto;
    }

    .main-text{
      justify-content: space-between;
    }
    .main-text-iam{
        font-size: 20px;
        margin-right: 0px;
    }

    .main-text-name{
      font-size: 25px;
      font-weight: 700;
    }
    .main-text-desc{
        font-size: 18px;
        color : hsl(220, 95%, 62%);
    }
    .resume{
      margin-top: 30px;
      padding : 6px 10px;
      font-size: 15px;
      font-weight: 500;
    }
}

@keyframes changeBg {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

/*---------------------------------------------------------------------------------------*/

