body {
  background-color: black;
  /* background-image: repeating-linear-gradient(-45deg, rgba(0,0,0, 0.25), rgba(0,0,0, 0.25) 1px, transparent 1px, transparent 6px); */
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.15), rgba(255,255,255, 0.15) 1px, transparent 1px, transparent 6px);
  background-size: 4px 4px;
  overflow-x: hidden;
}

a {
  all : unset;
}
*.hover {
  cursor : arrow;
}
@font-face {
  font-family: 'gordquick-bold';
  src: url('./assets/font/gord-quick/Gordquick\ Bold.otf');
  
}
@font-face {
  font-family: 'mauline';
  src: url('./assets/font/Mauline.otf');
  
}
@font-face {
  font-family: 'nephilm';
  src: url('./assets/font/Nephilm.otf'); 
}
@font-face {
  font-family: 'nephilm-italic';
  src: url('./assets/font/Nephilm-Italic.otf'); 
}
@font-face {
  font-family: 'neue_haas_grotesk_displa95Blk';
  src: url('./assets/font/neuehaasdisplayblack-webfont.woff2') format('woff2'),
       url('./assets/font/neuehaasdisplayblack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'neue_haas_grotesk_disp96BlkIt';
  src: url('./assets/font/neuehaasdisplayblackitalic-webfont.woff2') format('woff2'),
       url('./assets/font/neuehaasdisplayblackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'neue_haas_grotesk_display75Bd';
  src: url('./assets/font/neuehaasdisplaybold-webfont.woff2') format('woff2'),
       url('./assets/font/neuehaasdisplaybold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'neue_haas_grotesk_displ76BdIt';
  src: url('./assets/font/neuehaasdisplaybolditalic-webfont.woff2') format('woff2'),
       url('./assets/font/neuehaasdisplaybolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'neue_haas_grotesk_display45Lt';
  src: url('./assets/font/neuehaasdisplaylight-webfont.woff2') format('woff2'),
       url('./assets/font/neuehaasdisplaylight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'neue_haas_grotesk_displ46LtIt';
  src: url('./assets/font/neuehaasdisplaylightitalic-webfont.woff2') format('woff2'),
       url('./assets/font/neuehaasdisplaylightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'neue_haas_grotesk_display65Md';
  src: url('./assets/font/neuehaasdisplaymediu-webfont.woff2') format('woff2'),
       url('./assets/font/neuehaasdisplaymediu-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'neue_haas_grotesk_displ66MdIt';
  src: url('./assets/font/neuehaasdisplaymediumitalic-webfont.woff2') format('woff2'),
       url('./assets/font/neuehaasdisplaymediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'neue_haas_grotesk_disp55roman';
  src: url('./assets/font/neuehaasdisplayroman-webfont.woff2') format('woff2'),
       url('./assets/font/neuehaasdisplayroman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'neue_haas_grotesk_di56romanIt';
  src: url('./assets/font/neuehaasdisplayromanitalic-webfont.woff2') format('woff2'),
       url('./assets/font/neuehaasdisplayromanitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'neue_haas_grotesk_display35Th';
  src: url('./assets/font/neuehaasdisplaythin-webfont.woff2') format('woff2'),
       url('./assets/font/neuehaasdisplaythin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'neue_haas_grotesk_displ36ThIt';
  src: url('./assets/font/neuehaasdisplaythinitalic-webfont.woff2') format('woff2'),
       url('./assets/font/neuehaasdisplaythinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.favicon {
  border-radius: 20px;
}